<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Learnstone - Administration Console</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="_assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="/cards">Cards</a></li>
							<li><a href="/questions">Questions</a></li>
							<li><a href="/stats">Stats</a></li>
							<li><a href="/lessons">Lessons</a></li>
							<li><a href="/glossary">Glossary</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style1-alt">
						<div class="inner">
							<h1 class="major"><center>Cards</center></h1>
							<span class="image fit"><img src="_assets/images/lscards.jpg" alt="" /></span>

							<p><center>Welcome. <br/>In this area, you can easily <b>add</b>, <b>view</b> and <b>remove</b> a card from our game, Learnstone. <br/>Please note that <b>if you want to do a large change in the game, you should directly act on the database</b>. <br/>Thanks for your support.</br/></p>


							<hr />
							<h2>Add a card</h2>
							<p>Please, fill up all the <font color="#ff0000">required</font> fields in order to add a card.</p>

								<section>
									<form method="post" action="/cards">

										<div class="field half first">
											<label for="name">Name <font color="#ff0000">*</font></label>
											<input type="text" name="name" id="name" maxlength="45" required/>
										</div>

										<div class="field half">
											<label for="manaCost">Cost <font color="#ff0000">*</font></label>
											<input type="number" name="manaCost" id="manaCost" required/>
										</div>
										<br/><br/><br/><br/>



										<div class="field half first">
											<label for="idRefCardsSet">Card set <font color="#ff0000">*</font></label>
											<div class="select-wrapper">
											<select name="idRefCardsSet" id="idRefCardsSet">

												<% if (locals.rCardsSet) { %>
													 <% for(var i = 1 ; i <= rCardsSet.length ; i++) { %>
														<option value= <%= i %> >   <%= rCardsSet[i-1].lblCardsSet %>   </option>
														<% } %>
												<% } %>

											</select>
										</div>
										</div>

										<div class="field half">
											<label for="idRefType">Type <font color="#ff0000">*</font></label>
											<div class="select-wrapper">
											<select name="idRefType" id="idRefType">

												<% if (locals.rType) { %>
													 <% for(var j = 1 ; j <= rType.length ; j++) { %>
														<option value= <%= j %> >   <%= rType[j-1].lblType %>   </option>
														<% } %>
												<% } %>

											</select>
										</div>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="attack">Attack</label>
											<input type="number" name="attack" id="attack"/>
										</div>


										<div class="field half">
											<label for="health">Health </label>
											<input type="number" name="health" id="health"/>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="idRefRarity">Rarity <font color="#ff0000">*</font></label>
											<div class="select-wrapper">
											<select name="idRefRarity" id="idRefRarity">

												<% if (locals.rRarity) { %>
													 <% for(var k = 1 ; k <= rRarity.length ; k++) { %>
														<option value= <%= k %> >   <%= rRarity[k-1].lblRarity %>   </option>
														<% } %>
												<% } %>

											</select>
										</div>
										</div>

										<div class="field half">
											<label for="idRefClass">Class <font color="#ff0000">*</font></label>
											<div class="select-wrapper">
											<select name="idRefClass" id="idRefClass">

												<% if (locals.rClass) { %>
													 <% for(var l = 1 ; l <= rClass.length ; l++) { %>
														<option value= <%= l %> >   <%= rClass[l-1].lblClass %>   </option>
														<% } %>
												<% } %>

											</select>
										</div>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="durability">Durability </label>
											<input type="number" name="durability" id="durability"/>
										</div>

										<div class="field half">
											<label for="idRefRace">Race </label>
											<div class="select-wrapper">
											<select name="idRefRace" id="idRefRace">

												<option value="">Not defined</option>
												<% if (locals.rRace) { %>
													 <% for(var m = 1 ; m <= rRace.length ; m++) { %>
														<option value= <%= m %> >   <%= rRace[m-1].lblRace %>   </option>
														<% } %>
												<% } %>

											</select>
										</div>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="artist">Artist </label>
											<input type="text" name="artist" id="artist" maxlength="45"/>
										</div>


										<div class="field half">
											<label for="img">URL of the picture <font color="#ff0000">*</font></label>
											<input type="text" name="img" id="img" maxlength="2048" required/>
										</div>
										<br/><br/><br/><br/>

										<div class="field">
											<label for="description">Description <font color="#ff0000">*</font></label>
											<input type="text" name="description" id="description" maxlength="255" required/>
										</div>
										<br/>


										<ul class="actions">
											<li><input type="submit" class="button scrolly" value="ADD A CARD" id="submit"></li>
										</ul>


									</form>
								</section>

								<hr />
								<h2>Search a card ID</h2>
								<p>If you want to delete a card, please refer to the <b>ID</b> Card in the table bellow. Cards are classified by <b>alphabetical order</b>.</p>
								<section>

											<div class="table-wrapper">
												<table class="alt">

													<thead>
														<tr>
															<th>ID</th>
															<th>Name</th>
															<th>Attack</th>
															<th>Health</th>
															<th>Mana</th>
															<th>Artist</th>
															<th>Class</th>
															<th>Cards Set</th>
															<th>Type</th>
															<th>Rarity</th>
														</tr>
													</thead>

													<tbody>
														<% for(var i = 0 ; i < rCard.length ; i++) { %>
															<tr>
																<td><%= rCard[i].idCard %></td>
																<td><font color="FD6C9E"><%= rCard[i].name %></font></td>
																<td><%= rCard[i].attack %></td>
																<td><%= rCard[i].health %></td>
																<td><%= rCard[i].manaCost %></td>
																<td><%= rCard[i].artist %></td>
																<td><%= rCard[i].lblClass %></td>
																<td><%= rCard[i].lblCardsSet %></td>
																<td><%= rCard[i].lblType %></td>
																<td><%= rCard[i].lblRarity %></td>

															</tr>

														<% } %>

													</tbody>

													<tfoot>
														<tr>
															<td colspan="2"></td>
															<td></td>
														</tr>
													</tfoot>
												</table>
											</div>




							</section>

							<hr />
							<h2>Delete a card </h2>
							<p>You need to use the <b>ID</b> Card which you can find in the previous section.</p>


							<section>
								<form method="post" action="/cards/delete">
									<div class="fields">
										<label for="idCard">ID Card <font color="#ff0000">*</font></label>
										<input type="number" name="idCard" id="idCard" required/>
									</div>

									<ul class="actions">
										<li><input type="submit" class="button scrolly" value="DELETE A CARD" id="submit"></li>
									</ul>

								</form>
							</section>

							</div>

					</section>
				</center>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; ESGI. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
