<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Learnstone - Administration Console</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="_assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="/cards">Cards</a></li>
							<li><a href="/questions">Questions</a></li>
							<li><a href="/stats">Stats</a></li>
							<li><a href="/lessons">Lessons</a></li>
							<li><a href="/glossary">Glossary</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style1-alt">
						<div class="inner">
							<h1 class="major"><center>Cards</center></h1>
							<span class="image fit"><img src="_assets/images/lscards.jpg" alt="" /></span>

							<p><center>Welcome. <br/>In this area, you can easily <b>add</b>, <b>view</b> and <b>remove</b> a card from our game, Learnstone. <br/>Please note that <b>if you want to do a large change in the game, you should directly act on the database</b>. <br/>Thanks for your support.</br/></p>


							<hr />
							<h2>Add a card</h2>
							<p>Please, fill up all the <font color="#ff0000">required</font> fields in order to add a card.</p>

								<section>
									<form method="post" action="/cards">

										<div class="field half first">
											<label for="name">Name <font color="#ff0000">*</font></label>
											<input type="text" name="name" id="name" maxlength="45" required/>
										</div>

										<div class="field half">
											<label for="cost">Cost <font color="#ff0000">*</font></label>
											<input type="number" name="cost" id="cost" required/>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="cardset">Card set <font color="#ff0000">*</font></label>
											<div class="select-wrapper">
											<select name="cardset" id="cardset">
												<option value="1">Basic</option>
												<option value="2">Classic</option>
												<option value="3">Whispers of the Old Gods</option>
												<option value="4">One Night in Karazhan</option>
												<option value="5">Mean Streets of Gadgetzan</option>
												<option value="6">Journey to Un'Goro</option>
												<option value="7">Hall of Fame</option>
												<option value="8">Naxxramas</option>
												<option value="9">Goblins vs Gnomes</option>
												<option value="10">Blackrock Mountain</option>
												<option value="11">The Grand Tournament</option>
												<option value="12">League of Explorers</option>
											</select>
										</div>
										</div>

										<div class="field half">
											<label for="type">Type <font color="#ff0000">*</font></label>
											<div class="select-wrapper">
											<select name="type" id="type">
												<option value="1">Minion</option>
												<option value="2">Weapon</option>
												<option value="3">Spell</option>
											</select>
										</div>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="attack">Attack</label>
											<input type="number" name="attack" id="attack"/>
										</div>


										<div class="field half">
											<label for="health">Health </label>
											<input type="number" name="health" id="health"/>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="rarity">Rarity <font color="#ff0000">*</font></label>
											<div class="select-wrapper">
											<select name="rarity" id="rarity">
												<option value="1">Free</option>
												<option value="2">Common</option>
												<option value="3">Rare</option>
												<option value="4">Epic</option>
												<option value="5">Legendary</option>
											</select>
										</div>
										</div>

										<div class="field half">
											<label for="class">Class </label>
											<div class="select-wrapper">
											<select name="class" id="class">
												<option value="">Not defined</option>
												<option value="9">Druid</option>
												<option value="5">Hunter</option>
												<option value="1">Mage</option>
												<option value="2">Paladin</option>
												<option value="8">Priest</option>
												<option value="6">Rogue</option>
												<option value="7">Shaman</option>
												<option value="4">Warlock</option>
												<option value="3">Warrior</option>
											</select>
										</div>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="durability">Durability</label>
											<input type="number" name="durability" id="durability"/>
										</div>

										<div class="field half">
											<label for="race">Race</label>
											<div class="select-wrapper">
											<select name="race" id="race">
												<option value="">Not defined</option>
												<option value="1">Totem</option>
												<option value="2">Dragon</option>
												<option value="3">Beast</option>
												<option value="4">Demon</option>
												<option value="5">Elemental</option>
												<option value="6">Mech</option>
												<option value="7">Murloc</option>
												<option value="8">Pirate</option>
											</select>
										</div>
										</div>
										<br/><br/><br/><br/>

										<div class="field half first">
											<label for="artist">Artist </label>
											<input type="text" name="artist" id="artist" maxlength="45"/>
										</div>


										<div class="field half">
											<label for="url">URL <font color="#ff0000">*</font></label>
											<input type="text" name="url" id="url" maxlength="2048" required/>
										</div>
										<br/><br/><br/><br/>

										<div class="field">
											<label for="description">Description <font color="#ff0000">*</font></label>
											<input type="text" name="description" id="description" maxlength="255" required/>
										</div>
										<br/>


										<ul class="actions">
											<li><input type="submit" class="button scrolly" value="ADD A CARD" id="submit"></li>
										</ul>


									</form>
								</section>

								<hr />
								<h2>Search a card ID</h2>
								<p>If you want to delete a card, please refer to the <b>ID card</b> in the table bellow. Cards are classified by <b>alphabetical order</b>.</p>
								<section>

											<div class="table-wrapper">
												<table class="alt">

													<thead>
														<tr>
															<th>IdCards</th>
															<th>Name</th>
															<th>Attack</th>
															<th>Health</th>
															<th>ManaCost</th>
															<th>Artist</th>
															<th>Class</th>
															<th>CardsSet</th>
															<th>Type</th>
															<th>Rarity</th>
														</tr>
													</thead>

													<tbody>
														<% for(var i = 0 ; i < result.length ; i++) { %>
															<tr>
																<td><%= result[i].idCard %></td>
																<td><%= result[i].name %></td>
																<td><%= result[i].attack %></td>
																<td><%= result[i].health %></td>
																<td><%= result[i].manaCost %></td>
																<td><%= result[i].artist %></td>
																<td><%= result[i].lblClass %></td>
																<td><%= result[i].lblCardsSet %></td>
																<td><%= result[i].lblType %></td>
																<td><%= result[i].lblRarity %></td>

															</tr>

														<% } %>

													</tbody>

													<tfoot>
														<tr>
															<td colspan="2"></td>
															<td></td>
														</tr>
													</tfoot>
												</table>
											</div>




							</section>

							<hr />
							<h2>Delete a card </h2>
							<p>You need to use the <b>ID card</b> which you can find in the previous section.</p>


							<section>
								<form method="post" action="/cards/delete">
									<div class="fields">
										<label for="id">ID Card <font color="#ff0000">*</font></label>
										<input type="number" name="id" id="id" required/>
									</div>

									<ul class="actions">
										<li><input type="submit" class="button scrolly" value="DELETE A CARD" id="submit"></li>
									</ul>

								</form>
							</section>

							</div>

					</section>
				</center>
			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; ESGI. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
